DB_URL=postgresql+asyncpg://postgres:password@username/image-processing-queue-test
DB_URL_SYNC=postgresql+psycopg://postgres:password@username/image-processing-queue-test
IMAGE_DIR='/home/sitaram/Documents/project/practice_projection/image'
